doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='stylesheets/foundation.css')
    link(rel='stylesheet', href='stylesheets/app.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src='javascripts/vendor/jquery.js')
    script(src='javascripts/vendor/what-input.js')
    script(src='javascripts/vendor/foundation.js')
    block extrajs
  body
    block content
  
    script.
      $(document).foundation();
